- if user_signed_in?
  = link_to "My tasks", user_tasks_path(@user)
  = link_to "Sign out", destroy_user_session_path, method: :delete

- else
  = link_to "Sign in", new_user_session_path  
  = "Demo user id: #{@user.id}"
  = cookies[:last_seen]
  #ex.btn.btn-default.pull-right
    Reset
%h1 Todo list 
%h4
  %small 
    = @user.try(:email)
%table.table.table-hover.table-bordered.main-form
  = form_for @task, remote: true do |f|
    %tr
      %td{style:"width:5%"}
        %div{style:"margin:0 auto;display:table; "}
        = check_box_tag(nil, nil, false,disabled: true)
      %td
        = f.text_field :content, autocomplete: "off"


   
.todo
  -if !@tasks_todo.empty?
    - @tasks_todo.each do |t|
      = render 'tasks/task', task: t
  -else
    #congratulations
      %h3 No tasks...  
%h1 
  %small Already done          
.done{style:"width:85%;margin:0 auto; display:table;"}
  - @tasks_done.each do |t|
    = render 'tasks/task', task: t
